<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% load widget_tweaks %}

        <form method="post" enctype="multipart/form-data">
           <!--# Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro -->
            {% csrf_token %}

            <!-- {{ form.as_p }} -->
            <div class="form-group">
                <label for="nombre" class="txt_negrita">Nombre</label>
                {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

                <div class="form-group">
                  <label for="precio" class="txt_negrita">Modelo</label>
                    {{ form.modelo|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                </div>

            <div class="form-group">
                <label for="stock" class="txt_negrita">Unidades</label>
                {{ form.unidades|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <div class="form-group">
                <label for="img" class="txt_negrita">Precio</label>
                {{ form.precio|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <div class="form-group">
                <label for="img" class="txt_negrita">Detalles</label>
                {{ form.detalles|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <div class="form-group">
                <label for="img" class="txt_negrita">Marca</label>
                {{ form.marca|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
        </form>

</body>
</html>
