{% extends 'tienda/base.html' %}

{% load bootstrap4 %}
{# CSS Bootstrap #}
{% bootstrap_css %}

{% block content %}
<div class="container col-7">


    <h1>TOP TEN PRODUCTOS</h1>
<table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Unidades vendidas</th>
            <th>clase</th>
        </tr>

        {% for producto in listado_top_ten_productos %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{producto.producto__modelo}} </td>
            <td class="text-center">{{producto.total_unidades_vendidas}}</td>
            <td>{{producto.producto__nombre}} </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
</div>
